<div class="modal fade" id="AddTask" tabindex="-1" role="dialog" aria-labelledby="assigncase " aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h1 class="modal-title fs-5 title" id="exampleModalLabel">Task Form</h1>
                <button type="button" class="close bg-success border border-success" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="fs-1">&times;</span>
                </button>
            </div>
            <div class="modal-body text-start">
                <form id="AddTaskForm">
                    <div class="row row-cols-2">

                        <div class="form-floating mt-3 col">
                            <input type="text"
                                   class="form-control"
                                   name="TaskName"
                                   id="TaskName"
                                   placeholder="TaskName" />
                            <label for="floatingInput">Task Name</label>
                            <span class="text-danger error-TaskName"></span>
                        </div>
                        <div class="form-floating mt-3 col">
                            <input type="text"
                                   class="form-control"
                                   name="Asignee"
                                   id="Asignee"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Asignee</label>
                            <span class="text-danger error-Asignee"></span>
                        </div>
                        <div class="form-floating mt-3 col">
                            <input type="text"
                                   class="form-control"
                                   placeholder="name@example.com"
                                   id="Discription"
                                   name="Discription" />
                            <label for="floatingInput">Discription</label>
                            <span class="text-danger error-Discription"></span>
                        </div>
                        <div class="form-floating mt-3 col">
                            <input id="DueDate"
                                   type="date"
                                   class="form-control"
                                   name="Date" />
                            <label for="floatingInput">Due Date</label>
                            <span class="text-danger error-Date"></span>

                        </div>
                        <div class="form-floating mt-3 col">
                            <input id="City"
                                   type="text"
                                   class="form-control"
                                   name="City"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">City</label>
                            <span class="text-danger error-City"></span>

                        </div>
                        <div class="form-floating mt-3 col">
                            <select class="form-select  regionDropdown" name="Category" aria-label="Default select example" id="Category">
                                <option value="" disabled selected>Select The Category</option>
                                @foreach (var cancelReason in ViewBag.Categorys)
                                {
                                    <option value="@cancelReason.CategoryId">@cancelReason.CategoryName</option>
                                }
                            </select>
                        </div>

                    </div>
                    <div class="d-flex gap-2 mt-3 flex-row-reverse">
                        <button type="submit" class="btn btn-success confirmBtn asigncasebutton d-flex w-100" id="SubmitTask">Save</button>
                        <button type="button" class="btn btn-success d-flex w-100" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

