@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-white mt-3">
    <div class="d-flex justify-content-between">
        <div class="">
            <button class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#AddTask">Add Task</button>
        </div>
        <div style="width:40%">
        <div class="input-group input-group-height">
            <input class="form-control" type="search" placeholder="Search Patients" aria-label="Search" id="searchInput">
        </div>
        </div>

    </div>
    <!--> TaskMangerPartial Data Is Placed Here -->
    <div id="TaskMangementPartial">

    </div>

    
</div>
@* Add Task Form Partial *@
<partial name="AddTaskFormPartial"></partial>
@* Edit Task Form Partial *@
<partial name="EditTaskPartial"></partial>
<script>

    //On Search Call Function Change Table
    $("#searchInput").on("input", function () {
        changeTable();
    });
    // On Ready Call Function Change Table And Hide Form Details In Add New Task Form 
    $(document).ready(function () {
        console.log("Hii")
        
        changeTable(1);
        $('#AddTask').on('hidden.bs.modal', function () {
            console.log("hidden")
            $('#AddTaskForm').each(function () {
                this.reset();
            })

        });

    })
    //When User Click In page Again Call ChangeThe Table
    $(document).on("click", "#pagination a.page-link", function () {
        console.log("Pagination link clicked!");
        var id = $(this).attr("id");
      var  currentPage = $("#" + id).data("page");
        console.log("Current Page: " + currentPage);
        changeTable(currentPage)
    });
    
    function changeTable(page) {
        var searchValue = $("#searchInput").val();
        
        $.ajax({
            type: "GET",
            url: "/Home/GetTaskDetails",
            data: { searchValue: searchValue,page:page },
            success: function (data) {
                $('#TaskMangementPartial').html(data)
            },
            error: function (error) {
                console.error("Error:", error);
            }
        })
    }

    //Add Validation Then Add Submit  Form
    

    $('#AddTaskForm').validate({
        rules: {
            TaskName: {
                required: true
            },
            Asignee: {
                required: true
            },
            Discription: {
                required: true
            },
            Date: {
                required: true
            },
            City: {
                required: true
            },
            Category: {
                required: true
            },
        },
        messages: {
            TaskName: "Please Enter TaskName",
            Asignee: "Please Enter Asignee ",
            Discription: "Please Enter Discription",
            Date: "Please Enter Date",
            City: "Please Enter City",
            Category: "Please Enter Category",
        },
        errorPlacement: function (error, element) {
            var errorSpan = $("span.error-" + element.attr("name"));

            if (errorSpan.length > 0) {
                // If the specific span is found, append the error message to it
                error.appendTo(errorSpan);
            } else {
                // If not found, use the default placement (after the input field)
                error.appendTo(errorSpan);
            }
        },
        submitHandler: function (form) {
            var Taskname = $("#TaskName").val();
            var Asignee = $('#Asignee').val();
            var Discription = $('#Discription').val();
            var DueDate = $('#DueDate').val();
            var City = $('#City').val();
            var Category = $('#Category').val();
            $.ajax({
                type:"POST",
                url:"/Home/AddTaskDetails",
                data: { Taskname: Taskname, Asignee: Asignee, Discription: Discription, DueDate: DueDate, City: City, Category: Category },
                success: function (data) {
                    $('#AddTask').modal('hide')
                changeTable(1)
                }
            })
        }

    });
    //Validation For EditFormTask
    $('#EditFormTask').validate({
        rules: {
            EditTaskName: {
                required: true
            },
            EditAsignee: {
                required: true
            },
            EditDiscription: {
                required: true
            },
            EditDate: {
                required: true
            },
            EditCity: {
                required: true
            },
            EditCategory: {
                required: true
            },
        },
        messages: {
            EditTaskName: "Please Enter TaskName",
            EditAsignee: "Please Enter Asignee ",
            EditDiscription: "Please Enter Discription",
            EditDate: "Please Enter Date",
            EditCity: "Please Enter City",
            EditCategory: "Please Enter Category",
        },
        errorPlacement: function (error, element) {
            var errorSpan = $("span.error-" + element.attr("name"));

            if (errorSpan.length > 0) {
                // If the specific span is found, append the error message to it
                error.appendTo(errorSpan);
            } else {
                // If not found, use the default placement (after the input field)
                error.appendTo(errorSpan);
            }
        },
        submitHandler: function (form) {
            var Taskname = $("#EditTaskName").val();
            var Asignee = $('#EditAsignee').val();
            var Discription = $('#EditDiscription').val();
            var DueDate = $('#EditDueDate').val();
            var City = $('#EditCity').val();
            var Category = $('#EditCategory').val();
            var TaskID = $('#TaskID').val();
            $.ajax({
                type:"POST",
                url:"/Home/EditTaskDetails",
                data: { Taskname: Taskname, Asignee: Asignee, Discription: Discription, DueDate: DueDate, City: City, Category: Category, TaskID: TaskID },
                success: function (data) {
                    $('#EditTask').modal('hide')
                changeTable(1)
                }
            })
        }

    });


</script>