@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Welcome";
}
<a asp-controller="Request" asp-action="Index" asp-area="" class="w-100 btn btn-info text-white fs-4">Submit A Request</a>
<a class="w-100 btn btn-primary fs-4" asp-controller="Login" asp-action="Index">Registered Patients</a>