<nav class="navbar bg-white shadow p-3 rounded">
    <div class="container-fluid d-flex">
        <img src="~/content/hallodoc.png" alt="Logo" width="100" class="d-inline-block align-text-top">
        <button style="border: 1px solid aqua " class="mt-1" >
            <i class="fa fa-moon-o fs-4" aria-hidden="true" style="color: aqua "></i>
        </button>

    </div>
</nav>
