
@{
    ViewData["Title"] = "PatientSubmit";
}
<partial name="navbar"></partial>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 justify-content-center">
            <div class="row">


                <div class="d-flex flex-row justify-content-space-around mt-4 mb-2" style="justify-content: space-around;">
                    <div class="container d-flex justify-content-end">

                        <h1 class="d-flex justify-content-center">I am a....</h1>
                    </div>
                    <div class="container d-flex justify-content-center">

                        <button class="p-2 btn border border-info flex-1">

                            <a class=" text-info text-decoration-none" asp-action="Index">
                                <i class="fa fa-chevron-left" aria-hidden="true" style="margin-right: 5px;"></i>Back
                            </a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-12"  >
                <div class="row d-flex justify-content-center">
                    <div class="mb-4 col-md-6 col-lg-6 col-sm-12 col-xxl-4">
                        <a class="custom-btn btn btn-lg w-100 fw-blod d-flex text-decoration-none" style="height: 70px" asp-action="PatientRequest">
                                <span> PATIENT </span>
                        </a>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="mb-4 col-md-6 col-xxl-4">
                        <a class="btn btn-lg text-info bg-secondry text-start w-100 fw-blod d-flex text-decoration-none" asp-action="FamilyRequest" style="background-color: #e5f2f8; height: 70px">
                                <span> FAMILY/FRIEND </span>
                        </a>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="mb-4 col-md-6 col-xxl-4">
                        <a asp-action="ConciergRequest" class="btn btn-lg text-success text-start w-100 d-flex text-decoration-none" style="background-color: #e9f0e8; height: 70px">
                                <span> CONCIERGE </span>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="mb-4 col-md-6 col-xxl-4">
                        <a class="custom-btn4 btn btn-lg w-100 d-flex text-decoration-none" asp-action="BusinessRequest">
                                <span> BUSINESS PARTNER </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

