@model DataAccessLayer.CustomModel.RequestOthers
@{
    ViewData["Title"] = "Conceirge Request";
}
<partial name="_InfoModal.cshtml" />

<form class="container border rounded-3 p-3 p-md-5 mb-3 d-flex flex-column gap-4 bg-white" method="post" asp-action="ConceirgeRequest" enctype="multipart/form-data">
    <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col-12 col-md-12">
            <h5 class="fw-semibold">Concierge Information</h5>
        </div>

        <div class="col">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com"
                       asp-for="FirstNameOther"/>
                <label for="floatingInput focus-ring">Your First Name</label>
                <span class="text-danger" asp-validation-for="FirstNameOther"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com" asp-for="LastNameOther"/>
                <label for="floatingInput">Your Last Name</label>
                <span class="text-danger" asp-validation-for="LastNameOther"></span>
            </div>
        </div>
        <div class="col">
            <div class="border rounded-2 tel-container">
                <input id="phone1"
                       type="tel"
                       class="form-control border-0 tel-input"
                       name="phone" />
            </div>
        </div>

        <div class="col">
            <div class="form-floating">
                <input type="email"
                       class="form-control"
                       id="phone"
                       placeholder="+91 9876543210"
                       asp-for="EmailOther"/>
                <label for="floatingInput">Your Email</label>
                <span class="text-danger" asp-validation-for="EmailOther"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com"
                       asp-for="HotelName"/>
                <label for="floatingInput">Hotel/Property Name</label>
                <span class="text-danger" asp-validation-for="HotelName"></span>

            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col-12 col-md-12">
            <h5 class="fw-semibold">Concierge Location</h5>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="Rajpath Road" 
                       asp-for="Street"/>
                <label for="floatingInput">Street</label>
                <span class="text-danger" asp-validation-for="Street"></span>

            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="Rajpath Road"
                       asp-for="City"/>
                <label for="floatingInput">City</label>
                <span class="text-danger" asp-validation-for="City"></span>

            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="Rajpath Road"
                       asp-for="State"/>
                <label for="floatingInput">State</label>
                <span class="text-danger" asp-validation-for="State"></span>

            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="Rajpath Road" 
                       asp-for="Zipcode"/>
                <label for="floatingInput">Zip Code</label>
                <span class="text-danger" asp-validation-for="Zipcode"></span>

            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col-12 col-md-12">
            <h5 class="fw-semibold">Patient Information</h5>
        </div>
        <div class="col-12 col-md-12">
            <div class="form-floating">
                <textarea class="form-control"
                          placeholder="Leave a comment here"
                          id="floatingTextarea2"
                          style="height: 100px"></textarea>
                <label for="floatingTextarea2">
                    Enter Brief detail of Symptoms
                    <span class="d-none d-sm-inline">(Optional)</span>
                </label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com"
                       asp-for="FirstName"/>
                <label for="floatingInput">First Name</label>  
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com"
                       asp-for="LastName"/>
                <label for="floatingInput">Last Name</label>
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="date"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com"
                       asp-for="BirthDate"/>
                <label for="floatingInput">Date of Birth</label>
                    <span class="text-danger" asp-validation-for="BirthDate">

                    </span>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col-12 col-md-12">
            <h5 class="fw-semibold">Patient Contact Information</h5>
        </div>

        <div class="col">
            <div class="form-floating">
                <input type="email"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com"
                       asp-for="Email"/>
                <label for="floatingInput">Email</label>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="col">
            <div class="border rounded-2 tel-container">
                <input id="phone2"
                       type="tel"
                       class="form-control border-0 tel-input"
                       name="phone" />
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col-12 col-md-12">
            <h5 class="fw-semibold">Patient Location</h5>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="Rajpath Road" />
                <label for="floatingInput">Room #/ Suite (Optional)</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="d-flex gap-3 align-items-center justify-content-end">
            <button class="btn btn-info text-light" type="submit">
                Submit
            </button>
            <a href="submitrequest.html"
               class="btn btn-outline-info d-flex align-items-center h-100">
                Cancel
            </a>
        </div>
    </div>
</form>
   


<script src="~/js/fileInput.js"></script>

<script>
    const phone1 = document.querySelector("#phone1");
    const phoneInput1 = window.intlTelInput(phone1, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    const phone2 = document.querySelector("#phone2");
    const phoneInput2 = window.intlTelInput(phone2, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>