@model DataAccessLayer.CustomModel.AgreementVM;

<div class="modal fade" id="cancelagreementmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title text-light  fs-5" id="exampleModalLabel">Cancel Confirmation</h1>
                <button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 id="patientname" class="text-info"></h6>
                <form id="cancelagreementform" method="post" asp-action="CancelPatient" asp-controller="Request"  asp-route-id="@Model.RequestId">
                    <input  type="text" class="d-none" value="@Model.RequestId" asp-for="@Model.RequestId"/>
                    <div class="form-floating mb-3">
                        <textarea  class="form-control" id="cancelagreementnotes" style="height:100px;" placeholder="Provide Additional Notes" asp-for="Notes"></textarea>
                        <label for="cancelagreementnotes">Provide Additional Notes</label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info text-light">Confirm</button>
                        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    

<div class="container">
    <section>To Provide best medical service, we cannot determine the cost right away. If you agree to our service, so we will provide care and follow-up untill all care is completed. So with this points,if you like us to provide care to you click "Agree" and we'll get started immediately, if you do not agree simply click "Cancel"'</section>
    <div class="row mt-5">
        <div class="col-6 text-center">
            <form asp-action="Agree" asp-controller="Request" method="post" asp-route-id="@Model.RequestId">

            <button class="btn btn-success text-center text-white" type="submit">IAgree</button>
            </form>
        </div>
        <div class="col-6 text-center">
            <button class="btn btn-danger text-center text-white" data-bs-toggle="modal" data-bs-target="#cancelagreementmodal">Cancel</button>
        </div>
    </div>
</div>


