

<header class="w-100 shadow px-2 px-md-5 position-relative z-2 ">
    <section class="d-flex justify-content-between border-bottom pb-1">
        <div class="logo-container d-flex gap-3 align-items-center bg-logo bg-opacity-50 pb-2 rounded-3">
            <img src="~/images/logo.png" alt="logo" class="w-100 h-100" />
        </div>

        <div class="fw-bolder d-flex align-items-center gap-3">
            <button class="btn btn-outline-info text-center align-middle"
                    id="modeSwitch">
                <span class="material-symbols-outlined"> dark_mode </span>
            </button>
        </div>
    </section>
</header>
