<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="EncounterProvidermodal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-light">
                <h5 class="modal-title" id="exampleModalLongTitle">Select Type Of Care</h5>
                <button type="button" class="close bg-info" data-bs-dismiss="modal" aria-label="Close" style="border:none !important">
                    <span aria-hidden="true" class="fs-2 text-light">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div class=" d-flex align-item-center justify-content-center mt-4">
                    <form asp-controller="Provider" asp-action="HouseCall">
                        <input type="hidden" name="requestidHouse" id="requestidHouseCall" />
                    <button class="btn btn-info text-center mx-4 text-white" >HouseCall</button>
                    </form>
                    <form asp-controller="Provider" asp-action="Consult">
                        <input type="hidden" name="requestidConsult" id="requestidConsult" />

                    <button class="btn btn-outline-info text-center" >Consult</button>
                    </form>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <a class="btn btn-info text-center  close mx-4 text-white" aria-label="close" data-bs-dismiss="modal">Continue</a>
                    <a class="btn btn-outline-info text-center close" aria-label="close" data-bs-dismiss="modal">Cancel</a>
                </div>
            </div>

        </div>
    </div>
</div>