<div class="modal fade" id="RequestToAdminEditProfile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Request To Administrator</h1>
                <button type="button" class="btn-close  bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="RequestToAdminForEdit" asp-controller="Provider" id="requestadminforedit">
                <input type="hidden" name="requestid" id="requestIdToEditProfile" />
                <div class="modal-body">
                    <div class="d-flex flex-column">
                        <div class="mb-3  text-muted">
                            <div class="mb-3 fs-5">
                                <div class="mb-3"><span class="">Need To send message to edit</span></div>
                            </div>

                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="editadminnotes" style="height: 100px" name="editadminnotes"></textarea>
                                <label for="floatingTextarea2" class="text-muted">Message</label>
                                <span class="text-danger error-transferdec remove"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="submit" class="btn bg-info text-white" id="editcaseprovider">Confirm</button>
                        <button type="reset" class="btn border-info text-info">Cancel</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
