<div class="modal fade" id="BlockModal" tabindex="-1" role="dialog" aria-labelledby="BlockCaseModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Block</h1>
                <button type="button" class="btn-close  bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="" id="blockCaseForm">
                <input type="hidden" name="requestid" id="requestIdInputBlock" />
                <div class="modal-body">
                    <div class="d-flex flex-column">
                        <div class="mb-3  text-muted">
                            <div class="mb-3 fs-5">
                                <div class="mb-3"><span class="">Patient Name : <span class="text-info fw-1" id="patientname"></span></span></div>
                            </div>

                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="blockreason" style="height: 100px" name="blockreason"></textarea>
                                <label for="floatingTextarea2" class="text-muted">Reason For Block Request</label>
                                <span class="text-danger error-blockreason remove"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="submit" class="btn bg-info text-white" id="BlockCase">Confirm</button>
                        <button type="reset" class="btn border-info text-info">Cancel</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
