@{
    ViewData["Title"] = "CreateAccess";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-between my-3">
        <div class="d-flex">
            <span class="fs-2 text-muted fw-bold">Create Access</span>
        </div>
        <div class="d-flex justify-content-end">
            <a asp-controller="Admin" asp-action="Access" asp-area=""
               class="btn btn-outline-info d-flex align-items-center">
                <span class="material-symbols-outlined"> chevron_left </span> Back
            </a>
        </div>
    </div>
    <div class="container bg-white border shadow">
        <div class="">
            <span class="fs-2 text-muted fw-bold">Details</span>
        </div>
        <form asp-action="CreateAccess" method="post">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col">
                    <div class="form-floating mb-4 mt-4">
                        <input type="text"
                               class="form-control"
                               id="floatingInput"
                               name="rolename"
                               placeholder="name@example.com" />
                        <label for="floatingInput">Role Name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-4 mt-4">

                        <select class="form-select" aria-label="Default select example" id="accounttype" name="accounttype">
                            <option value="0" disabled selected>All</option>
                            <option value="1">Admin</option>
                            <option value="3">Patient</option>
                            <option value="2">Physician</option>
                        </select>
                        <label for="floatingInput">Account Type</label>

                    </div>
                </div>
            </div>
            <div id="accesspartial">
            </div>
            <div class="d-flex justify-content-end gap-2">
                <button class="btn btn-outline-info">Save</button>
                <button class="btn btn-outline-info" type="reset">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('form').submit(function (event) {
            event.preventDefault();

            var roleName = $('#floatingInput').val().trim();
            if (!roleName) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter a role name.'
                });
                return;
            }

            var accountType = $('#accounttype').val();
            if (accountType === '0') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please select an account type.'
                });
                return;
            }

            var rolesChecked = $('input[name="rolemenu"]:checked').length > 0;
            if (!rolesChecked) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please select at least one role.'
                });
                return;
            }

            // If all validations pass, submit the form
            this.submit();
        });


        fetchRoles();
    });
    $("#accounttype").on("change", function () {
        console.log("fii")
        fetchRoles();
    });
    function fetchRoles() {
        var region = $("#accounttype").val();
        console.log(region)
        $.ajax({
            method: "GET",
            url: "/Admin/RoleData",
            data: { region: region },
            success: function (response) {
                if (response.code == 401) {

                    location.reload();
                }
                else {
                    console.log("Function Success")
                    $('#accesspartial').html(response)

                }

            },
            error: function () {
                console.log("Function Fail")
            }
        })
    }
  
</script>