<div class="modal fade" id="finalizedModal" tabindex="-1" role="dialog" aria-labelledby="finalizedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h1 class="modal-title fs-5 title" id="exampleModalLabel">Encounter Form</h1>
                <button type="button" class="close bg-info border border-info" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="fs-1">&times;</span>
                </button>
            </div>
            <div class="modal-body align-items-center">
                <p>Encounter is already finalized.</p>
                <form asp-action="GeneratePDF" method="post" class="d-flex justify-content-center">
                    <input class="d-none" id="requestiddownload" name="requestid"/>
                <button class="btn btn-info d-flex justify-content-center align-items-center" type="submit" id="generetepdf">Download</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>