@model DataAccessLayer.CustomModel.ProviderOnCallVM
@{
    ViewData["Title"] = "ProviderOnCall";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}


<div class="container bg-light">
    <div class="d-flex justify-content-between my-3">
        <div class="d-flex">
            <span class="fs-2 text-muted fw-bold">Provider On Call</span>
        </div>
        <div class="d-flex justify-content-end">
            <a asp-controller="Admin" asp-action="Scheduling" asp-area=""
               class="btn btn-outline-info d-flex align-items-center">
                <span class="material-symbols-outlined"> chevron_left </span> Back
            </a>
        </div>
    </div>
    
    <div class="d-flex justify-content-between flex-wrap p-3">
        <div class="">
            <div class="form-floating">
                <select class="form-select " aria-label="Default select example" name="state" id="provideregion">

                    <option selected value="0">All</option>
                  

                        @foreach (var region in ViewBag.Regions)
                        {
                            <option value="@region.Regionid">@region.Name</option>
                        }
                    

                </select>
                <span class="error-state text-danger"></span>

            </div>

        </div>
        <div class="d-flex gap-2 mt-2 mb-2">
            <a class="btn btn-info" asp-action="ShiftReview" asp-controller="Admin">Shifts For Review</a>
            <a class="btn btn-info" asp-action="Scheduling" asp-controller="Admin">Calander View</a>
        </div>
    </div>
        <div id="ProviderOnCallStatus" class="bg-white">

        </div>
</div>

    <script>
        $(document).ready(function () {
            FetchProviderOnCall();
            $("#provideregion").on("change", function () {
                FetchProviderOnCall();
            });
            function FetchProviderOnCall() {
                var region = $('#provideregion').val();
                $.ajax({
                    method:'POST',
                    url:"/Admin/ProviderOnCallFetch",
                    data: {region:region},
                    success: function (response) {
                        $('#ProviderOnCallStatus').html(response)
                    },
                    error: function () {
                        console.log(error)
                    }

                })
            }

        });
    </script>