@model List<DataAccessLayer.DataModels.Region>;
@{
    Layout = "~/Views/Shared/_Layout4.cshtml";
}
<div class="container d-flex justify-content-between my-3">
    <div class="d-flex">
        <span class="fs-2 text-muted fw-bold">Provider Information</span>
    </div>
    <div class="d-flex justify-content-end">
        <a asp-controller="Admin" asp-action="Index" asp-area=""
           class="btn btn-outline-info d-flex align-items-center">
            <span class="material-symbols-outlined"> chevron_left </span> Back
        </a>
    </div>
</div>

<div class="container bg-white mt-2">
    <div class="d-flex justify-content-between mt-3 mb-3">
        <div>

            <div class="form-floating">
                <select class="form-select " aria-label="Default select example" id="regionselect">

                    <option selected value=" ">All</option>
                    @if (Model != null)
                    {

                        @foreach (var region in Model)
                        {
                            <option value="@region.Regionid">@region.Name</option>
                        }
                    }

                </select>
                <span class="error-state text-danger"></span>

            </div>
        </div>
        <div>
            <a class="btn btn-outline-info" asp-action="CreateProvider" asp-controller="Admin">Create Provider Account</a>
        </div>
    </div>
    <div id="providerpartial">

    </div>

</div>
<script>
     $(document).ready(function () { 
     fetchProviders();
 })
 $("#regionselect").on("change", function () {
     console.log("fii")
     fetchProviders();
 });

 function fetchProviders()
 {
     var region = $("#regionselect").val();
     console.log(region)
     $.ajax({
         method: "GET",
         url: "/Admin/ProviderData",
         data: { region: region },
         success: function (response) {
             if (response.code == 401) {

                 location.reload();
             }
             else {
                 console.log("Function Success")
                    $('#providerpartial').html(response)
                
             }

         },
         error: function () {
             console.log("Function Fail")
         }
     })
 }
</script>