@model DataAccessLayer.CustomModel.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<a asp-controller="Login" asp-action="Index" asp-area="" class="link-info d-flex w-100 justify-content-end">
    <span class="material-symbols-outlined"> chevron_left </span>
    Back
</a>
<h3 class="fw-semibold">Reset Your Password</h3>

<form class="w-100" method="post">
    <div class="input-group mb-3">
        <div class="form-floating flex-grow-1">
            <input type="email"
                   class="form-control"
                   id="floatingInputGroup1"
                   placeholder="Username" asp-for="Email" />
            <label for="floatingInputGroup1">Email</label>
        </div>
        <span class="input-group-text">
            <span class="material-symbols-outlined text-secondary"> account_circle </span>
        </span>
    </div>
    <button type="submit" class="btn btn-info w-100 text-white">
        Reset Password
    </button>
</form>
<a asp-controller="Login" asp-action="Index" asp-area="" class="link-info d-flex">
    <span class="material-symbols-outlined"> chevron_left </span>
    Back to Login
</a>

