@{
	Layout = "~/Views/Shared/_Layout3.cshtml";
}
@model List<DataAccessLayer.CustomModel.PatientDashboard>

<div class="w-100 shadow  px-2 px-md-5 position-relative z-2 pt-2 border-bottom d-none d-sm-block">
    <ul class="nav nav-pills-info mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
        </li>
        </ul>
    
</div>
<div class="tab-content" id="pills-tabContent">
    @Html.Partial("~/Views/Dashboard/Dashboard.cshtml", Model)
    <Partial name="Profile"></Partial>
</div>