@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
@model DataAccessLayer.CustomModel.ProfileVM;

    <div class="container d-flex justify-content-between my-3">
        <div class="d-flex">
            <span class="fs-2 text-muted fw-bold">User Profile</span>
        </div>
        <div class="d-flex justify-content-end">
            <a asp-controller="Dashboard" asp-action="Index" asp-area=""
               class="btn btn-outline-info d-flex align-items-center">
                <span class="material-symbols-outlined"> chevron_left </span> Back
            </a>
        </div>
    </div>
    <form class="container border rounded-3 p-3 p-md-5 mb-3  d-flex flex-column gap-4 bg-white" method="post">


        <div class="row row-cols-1 row-cols-md-2 g-3">
            <div class="col-12 col-md-12">
                <h5 class="fw-semibold">General Information</h5>
            </div>

            <div class="col">
                <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="floatingInput"
                           placeholder="name@example.com" 
                           asp-for="@Model.FirstName" disabled/>
                    <label for="floatingInput">First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="floatingInput"
                           placeholder="name@example.com"
                       asp-for="@Model.LastName" disabled />
                    <label for="floatingInput">Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="date"
                           class="form-control"
                       id="birthdateInput"
                           asp-for="BirthDate"
                           placeholder="name@example.com"
                       onchange="updateHiddenFields()"
                       disabled />
                    <label for="floatingInput">Date of Birth</label>
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>
        
       
    </div>
        <div class="row row-cols-1 row-cols-md-2 g-3">
            <div class="col-12 col-md-12">
                <h5 class="fw-semibold">Contact Information</h5>
            </div>

            <div class="col">
                <div class="form-floating">
                    <input type="email"
                           class="form-control"
                           id="floatingInput"
                           placeholder="name@example.com"
                       asp-for="Email" disabled="disabled" 
                       id="Email" readonly />
                    <label for="floatingInput">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="border rounded-2 tel-container">
                    <input id="phone2"
                           type="tel"
                           class="form-control border-0 tel-input"
                           name="phone" disabled/>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-3">
            <div class="col-12 col-md-12">
                <h5 class="fw-semibold"> Location Information</h5>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="floatingInput"
                           placeholder="Rajpath Road"
                       asp-for="Street" disabled  />
                    <label for="floatingInput">Street</label>
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="floatingInput"
                           placeholder="Rajpath Road" asp-for="City"
                       disabled />
                    <label for="floatingInput">City</label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="floatingInput"
                       placeholder="Rajpath Road" asp-for="State" disabled />
                    <label for="floatingInput">State</label>
                <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="floatingInput"
                       placeholder="Rajpath Road" asp-for="ZipCode" disabled />
                    <label for="floatingInput">Zip Code</label>
                <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="d-flex gap-3 align-items-center justify-content-end">
                <button class="btn btn-info text-light" id="EditBtn" type="button" onclick="toggleEdit()">
                    Edit
                </button> 
                <button class="btn btn-info text-light" type="Submit" id="SubBtn">
                    Submit
            </button><button class="btn btn-info text-light" type="button" id="CanBtn" onclick="toggleCancel()">
                    Cancel
                </button>

            </div>
        </div>
    </form>

    <script>
    $("#SubBtn").hide();
    $("#CanBtn").hide();

    // Function to toggle the disabled attribute of input fields
    function toggleEdit() {
        // Get all input fields within the form excluding the input with id "Email"
        var inputFields = document.querySelectorAll('form input:not(#Email)');

        // Toggle the disabled attribute for each input field
        inputFields.forEach(function (input) {
            input.disabled = !input.disabled;
        });

        $("#EditBtn").hide();
        $("#SubBtn").show();
        $("#CanBtn").show();
    }

    function toggleCancel() {
        var inputFields = document.querySelectorAll('form input:not(#Email)');

        // Toggle the disabled attribute for each input field
        inputFields.forEach(function (input) {
            input.disabled = !input.disabled;
        });

        $("#EditBtn").show();
        $("#SubBtn").hide();
        $("#CanBtn").hide();
    }

    </script>

