@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
        To Provide best medical service,We Cannot determine the cost right away.if you agree to our service so we will provide care and follow-up untill 
        all care is completed.So With This Points,if you likek us to provide care to you click to you click on "Agree" and we'll get started immediatly,if you 
        do not agree simply click "Cancel"
</div>