@model string;
@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}


<div class="d-flex container flex-row justify-content-between my-4  p-0">
    <div class="d-flex my-4">
        <span class="fs-2 text-muted fw-bold">Documents</span>
    </div>
<div class="d-flex justify-content-end  my-4">
    <a asp-controller="Dashboard" asp-action="Index" asp-area=""
       class="btn btn-outline-info d-flex align-items-center">
        <span class="material-symbols-outlined"> chevron_left </span> Back
    </a>
</div>

</div>
<div class="container bg-white border">
    <div class="mt-4 mx-4">

    <div><span>Patient Name</span></div>
    <div class="mb-3"><span class="text-info">Patient Name</span></div>
    <div><p>Check here for any file that you or doctore of Youe subsequents have attached for you to review @Model</p></div
        <div>
            <div class="input-group input-group-lg ">
                <div id="fileName" asp-for="FileName" class="form-control fs-6 align-middle">
                    Select File
                </div>
                <input type="file"  class="form-control" id="fileInput" hidden />
                <label  class="input-group-text btn btn-info text-light"
                       for="fileInput">
                    <span class="material-symbols-outlined me-2">
                        cloud_upload
                    </span>
                    <span class="d-none d-md-inline">Upload</span>
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-5">
            <div class="fs-3 mt-2 mx-4"> 
               <span>Documents</span>
            </div>
            <div class="mt-2 mx-4 fs-3">
                <a class="btn btn-outline-info">Download All</a>
            </div>
        </div>
                <table class="table">
  <thead class="thead-secondry">
    <tr>
      <td scope="col"></td>
      <th scope="col">Uploader</th>
      <th scope="col">Updated Date </th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"></td>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    
  </tbody>
</table>

    </div>
</div>


