.logo-container {
  width: 150px;
}

nav ul li a {   
  color: #6c757d;
}
.nav-link.active {
    border-bottom: 3px solid #17a2b8 !important;
    color: #17a2b8!important;
}
.active a {
  color: #17a2b8;
}

#Sidebar {
  width: 300px;
  transform: translateX(-100%);
  transition: all 0.2s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding-top: 200px;
}

#menuBtn {
  display: none;
}

@media screen and (max-width: 992px) {
  #menuBtn {
    display: block;
  }
  .desktop-nav {
    display: none !important;
  }
  
  /*.active{
    background-color: #b1e7f0;
    color:black ;
    border: none;
  }*/
}

/* Ensure dropdown menu z-index */
.custom-dropdown-menu {
    z-index: 1000 !important;
    position: relative;
}

/* Dark mode specific styles */
@media (prefers-color-scheme: dark) {
    .custom-dropdown-menu {
        background-color: #343a40 !important;
    }

        .custom-dropdown-menu .dropdown-item {
            color: #fff !important;
        }

            .custom-dropdown-menu .dropdown-item:hover {
                background-color: #4e555b !important;
            }
}
