a{
    text-decoration:none;

}

@media only screen and (max-width: 767px) {
    .left {
        display: none;
    }

    body {
        background-image: url('../content/hellodoc.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    /* .hellodocimg{
        display: none !important;
    } */
    .right {
        padding: auto;
        margin: auto;
        backdrop-filter: blur(8px) saturate(180%);
        -webkit-backdrop-filter: blur(8px) saturate(10%);
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);
    }

    .backtext {
        display: block !important;
    }
}

@media only screen and (min-width:1600px) {
}

.fs-1 {
    font-size: calc(1.0rem + 2.0vw) !important;
}

.bg-image {
    background-image: url("../image/doctor_image.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
