@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

@import url("login.css");
@import url("dashboard.css");
@import url("submitreq.css");

* {
    font-family: "Montserrat", sans-serif;
}

input,
button {
    height: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

.index-container {
    max-width: 500px;
}

li {
    list-style: none;
}

.bg-primary-light {
    background-color: rgb(236, 236, 255);
}

.bg-info-light {
    background-color: rgb(236, 248, 248);
}

.bg-success-light {
    background-color: rgb(236, 248, 236);
}

.bg-danger-light {
    background-color: rgb(255, 240, 240);
}

.blur-img {
    filter: blur(3px);
    mix-blend-mode:multiply;
}

.tel-container {
    height: 58px;
    display: flex;
    align-items: center;
}

    .tel-container:hover {
        border: 1px solid #8db8f8 !important;
        box-shadow: 0px 0px 0px 4px #0d6efd40;
    }

.tel-input:focus {
    box-shadow: none;
}


.bg-logo {
    background-color: #ffffff56;
}

.dark-mode-btn {
    z-index: 50 !important;
}


.bg-light-invert {
    background-color: transparent !important;
}
.viewBtn {
    right: 0;
}
.input-group-height {
    height: 100%;
}
.position-relative {
    position: relative;
}